
/* * { 
	outline: 1px solid red;
	outline-offset: -1px;
  }
	*/



body {
    overflow-x: hidden;
    width: 100%;
}

.container {
	/* max-width: 1085px; */
	max-width: 58.5em; 	
	margin: 0 auto;
}

.lead-container {
	max-width: 48em; 	
	margin: 0 auto;

}

a {
	color: #174279;
}

.inline-link {
	color: #174279;
	text-decoration: none;
}

html, button, input, select, textarea,
	.pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family: "Raleway", sans-serif;
	line-height: 2em;
	font-size: 18px;
	font-style: normal;
}

.pure-g {
	width: 100%;
}


.pure-img {
	width: 100% !important;
	height: auto;
}


.l-box {
		margin-left: 2em;
        /* margin-left: 2em; */
		/* padding: 0.5em 2em; */
	 /* border: 1px solid #555; */
}


.indented {
	margin-left: 2em; 
	line-height: 1;
  }

/* Adjust text for smaller screens */
@media (max-width: 35.5em) {
	.l-box {
		margin-left: 0.25em;
		margin-right: 0.25em;
		/* text-align:justify; */
	}
  }


.menu-style {
	color: black;
	font-size: 16px;
}
 

figure {
	text-align: right;
	font-style: italic;
	font-size: small;
	text-indent: 0;
	object-fit: contain;
}

.center {
	margin: 0 auto !important;
	/* width: 80% !important; /* just an arbitrary amount */
}


.red-style {
	color: red;
	font-weight: bold;
}

.green-style {
	color: green;
	font-weight: bold;
}

.weird-style {
	color: #5DF7F6;
	background-color: #924A21;
	font-weight: bold;
}

.weird-center {
	text-align: center;
	font-size: 25px;
}
	
.block-images {
	display: flex; 
	justify-content: center;  
    object-fit: cover;
	max-height: 15em;

}

.head {
	color: rgb(191, 40, 85); 
	font-weight: 700; 
	font-family: arial,	helvetica, sans-serif; 
	font-size: 30px; 
	font-weight: bold; 
	font-style: italic; 
	padding: 0.2em;
	text-transform: none;
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
}

.subhead-1 {
	color: rgb(63, 191, 40); 
	font-weight: 400; 
	font-family: arial, helvetica, sans-serif; 
	font-size: 24px; 
	margin-bottom: 0.5rem;
	padding: 0.2em;
}

.subhead-2 {
	margin-top: 0; 
	text-align: right; 
	color: rgb(20, 103, 120); 
	font-weight: 400; 
	font-family: arial, helvetica, sans-serif; 
	font-size: 20px; 
	margin-bottom: 0.5rem;
}
	
#back2Top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 16px;
	border: solid;
	outline: none;
	background-color: rgba(195, 215, 237, 0.5);
	color: dark-grey;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
}

#back2Top:hover {
	background-color: #07BCED;
}

.i-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	/* padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	padding-top: 75%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }

/* For new menu */

.custom-wrapper {
	margin-bottom: 1em;
	-webkit-font-smoothing: antialiased;
	height: 3em;
	overflow: hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	transition: height 0.5s;
}

.custom-wrapper.open {
	height: 15.5em;
}

.custom-menu-3 {
	text-align: right;
	padding-right: 30px;
}

.custom-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.custom-toggle .bar {
	background-color: black;
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 100px;
	position: absolute;
	top: 20px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-toggle .bar:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}

.custom-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

	.custom-menu-3 {
		text-align: left;
	}

	.custom-toggle {
		display: block;
	}

}

